<div>
  <img id="logo" src="../assets/images/logo.png" />
  <form [formGroup]="characterFormGroup">
    <!-- The Leader -->
    <fieldset formGroupName="leader">
      <h2>Who are you?</h2>
      <section
        fxLayout="row wrap"
        fxLayoutAlign="space-around center"
        fxLayoutGap="1em grid"
      >
        <div
          [class.selected]="getCharacterSelectedState('leader', char.id)"
          fxFlex="20%"
          *ngFor="let char of characters"
        >
          <label>
            <app-character [character]="char"></app-character>
          </label>
          <input formControlName="characterId" type="radio" [value]="char.id" />
        </div>
      </section>
    </fieldset>

    <!-- The Lieutenant -->
    <fieldset formGroupName="lieutenant">
      <h2>Who is your best friend?</h2>
      <section
        fxLayout="row wrap"
        fxLayoutAlign="space-around center"
        fxLayoutGap="1em grid"
      >
        <div
          [class.selected]="getCharacterSelectedState('lieutenant', char.id)"
          fxFlex="20%"
          *ngFor="let char of characters"
        >
          <label>
            <app-character [character]="char"></app-character>
          </label>
          <input formControlName="characterId" type="radio" [value]="char.id" />
        </div>
      </section>
    </fieldset>

    <!-- The Lacky -->
    <fieldset formGroupName="lacky">
      <h2>Who is the sacrificial lamb?</h2>
      <section
        fxLayout="row wrap"
        fxLayoutAlign="space-around center"
        fxLayoutGap="1em grid"
      >
        <div
          [class.selected]="getCharacterSelectedState('lacky', char.id)"
          fxFlex="20%"
          *ngFor="let char of characters"
        >
          <label>
            <app-character [character]="char"></app-character>
          </label>
          <input formControlName="characterId" type="radio" [value]="char.id" />
        </div>
      </section>
    </fieldset>
  </form>

  {{ characterFormGroup.value | json }}
</div>
