/* You can add global styles to this file, and also import other style files */
@import "./assets/stylesheets/reset";

html,
body {
  font-family: "VT323", sans-serif;
  color: white;
  font-size: 1.3em;
}

html {
  background: black url("./assets/images/backdrops/home.png") center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Headings */
.display-1 {
  font-size: 3rem
}

/* Common */
a {
  color: #f2b71e;
}

img {
  max-width: 100%;
}

/* Forms */
fieldset {
  border: none;
}
